#ipod {
	position: absolute;
	width: 325px;
	height: 500px;
	border: 2px solid;
	border-radius: 15px;
/*	text-align: center;*/

}

#circle {
	position: relative;
	width: 215px;
	height: 215px;
	border: 1px solid;
	border-radius: 50%;
	text-align: center;
	margin: 25px auto 50px;
}

#SMcircle{
    position: relative;
	width: 85px;
	height: 85px;
	border: 1px solid;
	border-radius: 50%;
	text-align: center;
	margin: 0px auto;

}

#playPause {
    position: relative;	
	border: 1px solid;
	border-radius: 3px;
	margin: 17.5px auto;
	left:17.5px;

}

#backward {
    position: relative;	
	border: 1px solid;
	border-radius: 3px;
	top:77.5px;
	right:92.5px;	
}

#forward {
    position: relative;	
	border: 1px solid;
	border-radius: 3px;
	bottom:77.5px;
	left:92.5px;	
}

#stop {
    position: relative;	
	border: 1px solid;
	border-radius: 3px;
	margin: 17.5px auto;
	right:17.5px;
}

.playPause {
	width: 30px;
	height: 30px;
	border: 1px solid;
	border-radius: 3px;
}

.playPause:hover {
	opacity: 0.5;
}

#screen{
	position: relative;
	width: 300px;
	height: 200px;
	border: 1px solid;
	border-radius: 3px;
	margin: 10px auto;
	overflow: hidden;
    text-overflow: ellipsis;
    text-align: center
}

#name{
	width: 290px;
	height: 20px;
    animation: move ease-in-out infinite 10s;
    position: relative;
    padding: 0px 10px;
    animation-play-state: running;
}


@keyframes move{
	0%   {left:210px;}
    100% {left:-220px;}
}
